body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
}


.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.week {
  font-size: 20px;
}
.week p {
  font-size: 16px;
  color: #555;
}
.header {
  margin-bottom: 50px;
}
.header h1 {
  font-size: 40px;
  margin-bottom: 3px;
}

.header h3 {
  margin-top: 0;
  font-size: 30px;
  color: #aaa;
}

.jumbotron h2 {
  margin-top: 0;
}
.jumbotron p{
  font-size: 12px;
}

.jumbotron ul {
  list-style-type: none;
  padding: 0;
}

.jumbotron-transparent {
  background-color: white;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    font-family: 'Helvetica Neue';
    font-size: 18px;
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}